// Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "./../02-bootstrap/functions";

// Include remainder of required Bootstrap stylesheets
@import "./../02-bootstrap/variables";
@import "./../02-bootstrap/mixins";

#blogs{
    .blog-posts-container{
        position: relative;
        margin-bottom: 150px;
        .wrap-blog{
            grid-template-columns: repeat(3,1fr);
            display: grid;
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            .blogList{
                border-radius: 4px;
                background: #fff;
                overflow: hidden;
                box-shadow: 0px 4px 16px 4px rgba(0, 0, 0, 0.10);
                .thumb{
                    overflow: hidden;
                    img{
                        max-width: 100%;
                        height: auto;
                        vertical-align: middle;
                        width: 100%;
                    }
                }
                .item-blog{
                    padding: 20px 20px 10px 20px;
                    .cate_name{
                        color: #000;
                        font-size: 12px;
                        font-weight: 500;
                        text-transform: uppercase;     
                        margin-bottom: 8px;
                    }
                    .title_handbook {
                        font-size: 20px;
                        font-weight: 700;
                        margin-bottom: 20px;
                        a{
                            color: #000;
                        }
                        &:hover a{
                            color: #0094FF;
                        } 
                    }
                    .post_description{
                        color: #000;
                        font-size: 14px;
                        font-weight: 400;
                        letter-spacing: 0.56px;
                        overflow: hidden;
                        -webkit-line-clamp: 4;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
    }
}

@media (max-width:1024px){
    #blogs{
        .blog-posts-container{
            margin-bottom: 50px;
        }
        .wrap-blog{
            grid-template-columns: repeat(2,1fr) !important;
        }
    }
}
@media (max-width:767px){
    #blogs{
        .wrap-blog{
            grid-template-columns: repeat(1,1fr) !important;
        }
     }
}