.section1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 647px;
    background-image: url(../../images/background-home.png);

    @media (max-width:767px) {
        min-height: 380px;
    }

    .esim-setion1 {
        max-width: 806px;
        margin: 0 auto;

        h1 {
            margin-bottom: 20px;
            font-size: 46px;
            @media (max-width:767px) {
                font-size: 18px;
                line-height: 30px;
            }
        }

        form {
            padding: 8px 16px;
            border-radius: 12px;
            background: #FFF;

            input {
                width: 100%;
                padding: 12px 16px 12px 32px;
                color: #389E0D;
                font-size: 16px;
                font-weight: 500;
                border: 0px;
                outline: none;
            }

            input::-webkit-input-placeholder {
                color: #389E0D;
            }

            input:-moz-placeholder {
                color: #389E0D;
            }

            svg {
                width: auto;
                position: absolute;
                top: 50%;
                cursor: pointer;
                transform: translateY(-50%);
            }
        }
    }
}

.section2 {
    margin: -100px 0 100px 0;

    @media (max-width:767px) {
        margin: -80px 0 50px 0;
    }

    .item-country {
        padding: 25px 30px;
        border-radius: 24px;
        border: 1px solid #F0F0F0;
        background: #FFF;
        box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.10);

        .start-top {
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            img {
                max-width: 24px;
            }

            .country-popular {
                font-size: 14px;
                font-weight: 500;
                color: #1F1F1F;
                margin: 0 0 0 3px;
            }
        }

        .item-country-text {
            display: flex;
            align-items: center;
            margin-bottom: 15px;

            .price-title {
                color: #1F1F1F;
                font-size: 22px;
                font-weight: 600;
                margin-right: 3px;
                display: flex;
                align-items: center;

                img {
                    margin-left: 3px;
                    max-width: 24px;
                }
            }

            .data-country {
                margin-left: 35px;
                font-size: 16px;
                font-weight: 500;
                color: #1F1F1F;
            }
        }

        .item-country-logo {
            display: flex;
            align-items: center;

            img {
                max-width: 165px;
                width: auto;
            }

            .title-logo {
                color: #000;
                font-size: 16px;
                font-weight: 500;
                margin-left: 3px;

                h3 {
                    margin: 0;
                }
            }
        }
    }

    .owl-country {
        .owl-stage-outer {
            padding: 10px 0;
        }

        .owl-nav {
            margin: 0;

            .owl-next,
            .owl-prev {
                width: 40px;
                height: 40px;
                flex-shrink: 0;
                background-color: #fff;
                border: 1px solid #E5E5E5;
                box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
                border-radius: 100%;
                margin: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                margin-left: -20px;

                @media (max-width:1024px) {
                    margin-left: -10px;
                }

                span {
                    font-size: 22px;
                    color: #C4C4C4;
                }

                :hover span {
                    color: #C4C4C4;
                }
            }

            .owl-next {
                right: 0;
                left: unset;
                margin-right: -20px;

                @media (max-width:1024px) {
                    margin-right: -10px;
                }
            }
        }
    }
}

.product-filter {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 20px;

	@media (max-width:767px) {
		display: block;
		margin-bottom: 40px;
	}

	.flex-1 {
		flex: 1;

		@media (max-width:767px) {
			flex: 0 auto;
			display: none;
		}
	}

	.list-plan-filter {
		@media (max-width:767px) {
			width: 100%;
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			padding: 0;
			margin: 0;
			list-style: none;
			border-radius: 10px;
			background: #FFF;
			padding: 4px;
			border: 1px solid #f0f0f0;

			@media (max-width:767px) {
				margin-bottom: 18px;
				display: flex;
			}

			li {
				font-size: 14px;
				font-weight: 500;
				color: #000;
				padding: 10px 20px;
				transition: 0.3s;
				-webkit-transition: 0.3s;
				margin: 0 5px !important;
				@media (max-width:767px) {
					flex:1;
				}
				&.active,
				&:hover {
					color: #fff;
					border-radius: 10px;
					background: #52C41A;
					cursor: pointer;
				}

				@media (max-width:767px) {
					text-align: center;
					padding: 10px 5px;
				}

				@media (max-width:470px) {
					font-size: 11px;
					padding: 10px 2px;
				}

				@media (max-width:390px) {
					padding: 10px 0px;
					font-size: 10px;
				}
			}
		}
	}

	.list-sort-filter {
		.sortby {
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			@media (max-width:767px) {
				display: block;
			}

			label {
				margin: 0;
				color: #000;
				font-size: 14px;
				font-weight: 500;
				margin-right: 15px;

				@media (max-width:767px) {
					display: none;
				}
			}

			select {
				border-radius: 10px;
				background: #FFF;
				padding: 5px 40px 5px 20px;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				margin: 0;
				font-size: 14px;
				font-weight: 500;
				color: #000;
				line-height: 37px;
				border: 1px solid #f0f0f0;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				background-image: url(../../img/ggg-icon/icon-arrow-select.svg);
				background-repeat: no-repeat;
				background-position: right 10px center;
				cursor: pointer;

				@media (max-width:767px) {
					width: 100%;
				}

				option {
					color: #000;
					font-size: 14px;
					font-weight: 500;
					border-radius: 10px;
					background-color: #fff;
					cursor: pointer;
					padding: 5px 10px;
				}

			}

		}
	}
}

#load-more-button {
	background-color: transparent;
	border-radius: 50px;
	padding: 2px 25px;
	text-align: center;
	border: 2px solid #389E0D;
	font-size: 18px;
	color: #389E0D;
	margin: 0;
	text-transform: unset;
	display: flex;
	margin: 0 auto;

	@media (max-width:1024px) {
		padding: 0px 25px;
	}
}

@media (min-width:1025px) {
	.product-row-container {
		margin-bottom: 40px;
	}
}


.offers-list {
	background-color: #fff;
	border-radius: 10px 10px 0px 0px;
	border: 1px solid #F0F0F0;
	transition: 0.3s;
	-webkit-transition: 0.3s;

	@media (max-width:1099px) {
		border-radius: 0px;
		border: unset;
	}

	a:hover {
		background: #FAFAFA;

		@media (max-width:1099px) {
			background: transparent;
		}
	}

	p {
		margin: 0;
		text-align: left;
	}

	.offers-list-header {
		display: flex;
		font-size: 18px;
		font-weight: 500;
		background-color: #fff;
		border-radius: 10px 10px 0 0;
		border-bottom: 1px solid #EEE;

		@media (max-width:1100px) {
			display: none;
		}
	}

	.offers-list-item {
		position: relative;
		flex: 1;
		padding: 1em;
		text-align: left;

		&:nth-child(2) {
			flex: 0 0 160px;
		}

		&:nth-child(3) {
			flex: 0 0 240px;
		}

		&:nth-child(4) {
			flex: 0 0 185px;
		}

		&:nth-child(5) {
			flex: 0 0 130px;
		}

		&:nth-child(6) {
			flex: 0 0 140px;

		}

		&:nth-child(7) {
			flex: 0 0 110px;
		}

		&:nth-child(8) {
			flex: 0 0 85px;

		}
		&:nth-child(9) {
			flex: 0 0 85px;

		}

		@media (max-width:1099px) {
			display: none;
		}

		&.data-product {
			font-weight: 500;
			display: inline-flex;
			align-items: center;
			position: relative;

			p {
				color: #2C7F04;
			}

			@media (max-width:1099px) {
				display: none;
			}
		}

		&.plane-name {
			p {
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				overflow: hidden;
				display: -webkit-box;
			}

			.top_selling {
				display: inline-flex;
				align-items: center;
				border-radius: 4px;
				background: #ff8c31;
				margin-top: 3px;
				padding: 5px 8px 5px 30px;
				color: #fff;
				font-size: 14px;
				font-weight: 400;
				background-image: url(../../img/ggg-icon/top-selling.svg);
				background-repeat: no-repeat;
				background-position: left 5px center;
			}
		}

		&.plane-name {
			.promotion {
				display: inline-flex;
				align-items: center;
				border-radius: 4px;
				background: #52C41A;
				margin-top: 3px;
				padding: 5px 8px 5px 30px;
				color: #fff;
				font-size: 14px;
				font-weight: 400;
				background-image: url(../../img/ggg-icon/promotion.svg);
				background-repeat: no-repeat;
				background-position: left 5px center;
			}
		}

		&>ul {
			display: flex;
			align-items: center;
			list-style: none;
			margin: 0;

			li {
				margin: 0 !important;

				.list-data {
					display: flex;
					align-items: center;

					.info-table-data {
						position: relative;
						display: inline-block;
						margin: 5px 5px 0 5px;

						&>span {
							font-size: 24px;
						}

						.name-info-data {
							visibility: hidden;
							cursor: pointer;
							width: auto;
							min-width: 60px;
							max-width: 400px;
							white-space: nowrap;
							background-color: #fff;
							box-shadow: 0px 2px 25px rgba(0, 0, 0, .15);
							color: #313131;
							border-radius: 6px;
							padding: 8px 12px;
							position: absolute;
							z-index: 1;
							top: 130%;
							left: 50%;
							font-size: 16px;
							transform: translateX(-50%);

							&:after {
								content: "";
								position: absolute;
								bottom: 90%;
								left: 50%;
								margin-left: -16px;
								border-width: 15px;
								border-left-width: 15px;
								border-right-width: 15px;
								border-style: solid;
								border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff rgba(0, 0, 0, 0);
							}
						}

						&:hover .name-info-data {
							visibility: visible;
						}
					}
				}
			}
		}

		&.custom-product-image {
			img {
				max-width: 105px;
				height: 48px;
				object-fit: contain;
			}

		}

		&.price-product {
			margin-bottom: 5px;
			text-align: left;

			strong {
				color: #C4C4C4;
				font-weight: 400;
			}

			span.amount {
				color: #2C7F04;
				font-weight: 700;

			}
		}
	}



	.offers-list-row {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		color: #313131;
		font-size: 18px;
		transition: background .2s ease;
		background-color: #fff;

		@media (max-width:1099px) {
			display: block;
		}
	}

	.offers-list-item-mobile {
		@media (min-width:1100px) {
			display: none;
		}

		p {
			text-align: left;
		}

		.product-list-data {
			border: 1px solid #F0F0F0;
			background-color: #fff;
			border-radius: 12px;
			padding: 15px;
			margin-bottom: 16px;
			display: flex;
			flex-wrap: wrap;
			position: relative;
			overflow: visible;

			.logo {
				width: 66px;
				max-width: 66px;
				margin-right: 15px;
			}

			.product-list-content {
				flex: 1;
				font-size: 14px;
				color: #000;
				overflow: visible;
				text-align: left;

				.title-product {
					font-weight: 500;
					margin-bottom: 5px;
					padding-right: 5px;

					p {
						margin: 0;
						font-weight: bold;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 2;
						overflow: hidden;
						display: -webkit-box;
					}
				}

				.data-validity-product {
					display: flex;
					align-items: center;
					font-weight: 500;
					margin-bottom: 5px;

					.data-product {
						color: #2C7F04;

						strong {
							font-weight: 400;
							color: #C4C4C4;
						}
					}

					.validity-product {
						color: #000;
						margin-left: 15px;
					}
				}

				.price-product {
					margin-bottom: 5px;
					text-align: left;

					strong {
						color: #C4C4C4;
						font-weight: 400;
					}

					span.amount {
						color: #2C7F04 !important;
						font-weight: 500;
						text-align: left;
					}
				}

				.infomation-product {
					margin-bottom: 10px;

					ul {
						display: flex;
						align-items: center;
						list-style: none;
						margin: 0;

						li {
							margin: 0 !important;
							margin-right: 5px !important;

							.list-data {
								display: flex;
								align-items: center;

								.info {
									position: relative;
									display: inline-block;

									>span {
										font-size: 22px;
									}

									img {
										max-width: 24px;
										height: 24px;
									}

									.name-info-data {
										visibility: hidden;
										cursor: pointer;
										width: auto;
										min-width: 60px;
										max-width: 400px;
										white-space: nowrap;
										background-color: #fff;
										box-shadow: 0px 2px 25px rgba(0, 0, 0, .15);
										color: #313131;
										border-radius: 6px;
										padding: 8px 12px;
										position: absolute;
										z-index: 1;
										top: 145%;
										left: 50%;
										font-size: 16px;
										transform: translateX(-50%);

										:after {
											content: "";
											position: absolute;
											bottom: 90%;
											left: 50%;
											margin-left: -16px;
											border-width: 15px;
											border-left-width: 15px;
											border-right-width: 15px;
											border-style: solid;
											border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff rgba(0, 0, 0, 0);
										}

										span {
											display: block;
											text-align: center;
										}
									}

									.name-info-data.visible {
										visibility: visible;
									}
								}
							}
						}
					}
				}

				.top_selling {
					display: inline-flex;
					align-items: center;
					border-radius: 4px;
					background: #FF8C31;
					padding: 5px 8px 5px 30px;
					color: #fff;
					font-size: 14px;
					font-weight: 400;
					background-image: url(../../img/ggg-icon/top-selling.svg);
					background-repeat: no-repeat;
					background-position: left 5px center;
				}

				.promotion {
					display: inline-flex;
					align-items: center;
					border-radius: 4px;
					background: #52C41A;
					padding: 5px 8px 5px 30px;
					color: #fff;
					font-size: 14px;
					font-weight: 400;
					background-image: url(../../img/ggg-icon/promotion.svg);
					background-repeat: no-repeat;
					background-position: left 5px center;
				}
			}

			.link-product {
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);

				>.icon-next {
					font-size: 22px;

				}

				img {
					max-width: 28px;
					width: 28px;
					height: 28px;
				}
			}
		}

	}
}

.page-template-page-right-sidebar {

	.wp-block-lazyblock-ggg-product-list{
		margin: 32px 0;
	}

	.offers-list {

		.offers-list-header,
		.offers-list-row {
			font-size: 16px;
		}

	}

	.offers-list-item {
		padding: 0.8em;
		
		&:nth-child(2) {
			flex: 0 0 120px;
		}

		&:nth-child(3) {
			flex: 0 0 210px;
			@media (min-width:1090px) and (max-width:1200px){
				flex: 0 0 140px;
			}
		}

		&:nth-child(4) {
			flex: 0 0 150px;
		}

		&:nth-child(5) {
			flex: 0 0 130px;

		}

		&:nth-child(6) {
			flex: 0 0 130px;

		}

		&:nth-child(7) {
			flex: 0 0 80px;
		}

		&:nth-child(8) {
			flex: 0 0 25px;

		}

		&.custom-product-image {
			img {
				max-width: 80px;
				height: auto;
			}
		}

		&>ul {
			li {
				.list-data {
					.info-table-data>span {
						font-size: 20px;
					}
				}
			}
		}
	}

	#load-more-button {
		font-size: 16px;
		padding: 2px 15px;
	}

}

.products_violet {
	.list-plan-filter {

		ul li.active,
		ul li:hover {
			background: #0094ff;
		}
	}

}

.product-row-container {
	.offers-list {
		.offers-list-item {
			ul {
				li {
					.list-data {
						.info-table-data {
							span:before {
								color: #73D13D;
							}
						}
					}
				}
			}
		}

		.offers-list-item-mobile {
			.product-list-data {
				.product-list-content {
					.infomation-product {
						ul {
							li {
								.list-data {
									.info {
										>span:before {
											color: #73D13D;
										}
									}
								}
							}
						}
					}
				}
			}
		}

	}
}

.product__color-violet {
	.offers-list {
		.offers-list-item {
			&.data-product {
				p {
					color: #4600b9;
				}
			}

			&.price-product {
				span.amount {
					color: #4600b9;
					font-weight: 700;
				}
			}

			ul {
				li {
					.list-data {
						.info-table-data {
							span:before {
								color: #c4c4c4;
							}
						}
					}
				}
			}
		}

		.offers-list-item-mobile {
			.product-list-data {
				.product-list-content {
					.data-validity-product {
						.data-product {
							color: #4600b9;
						}
					}

					.price-product {
						span.amount {
							color: #4600b9 !important;
						}
					}

					.infomation-product {
						ul {
							li {
								.list-data {
									.info>span:before {
										color: #4600b9;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.offers-list-item-mobile {
		.product-list-data {
			.product-list-content {
				.infomation-product {
					ul {
						li {
							.list-data {
								.info-table-data {
									span:before {
										color: #73D13D;
									}
								}
							}
						}
					}
				}
			}
		}
	}


}
  