.section1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 647px;

    @media (max-width:767px) {
        min-height: 380px;
    }

    .esim-setion1 {
        max-width: 806px;
        margin: 0 auto;

        h1 {
            margin-bottom: 20px;

            @media (max-width:767px) {
                font-size: 18px;
                line-height: 30px;
            }
        }

        form {
            padding: 8px 16px;
            border-radius: 12px;
            background: #FFF;

            input {
                width: 100%;
                padding: 12px 16px 12px 32px;
                color: #389E0D;
                font-size: 16px;
                font-weight: 500;
                border: 0px;
                outline: none;
            }

            input::-webkit-input-placeholder {
                color: #389E0D;
            }

            input:-moz-placeholder {
                color: #389E0D;
            }

            svg {
                width: auto;
                position: absolute;
                top: 50%;
                cursor: pointer;
                transform: translateY(-50%);
            }
        }
    }
}

.section2 {
    margin: -100px 0 100px 0;

    @media (max-width:767px) {
        margin: -80px 0 50px 0;
    }

    .item-country {
        padding: 25px 30px;
        border-radius: 24px;
        border: 1px solid #F0F0F0;
        background: #FFF;
        box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.10);

        .start-top {
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            img {
                max-width: 24px;
            }

            .country-popular {
                font-size: 14px;
                font-weight: 500;
                color: #1F1F1F;
                margin: 0 0 0 3px;
            }
        }

        .item-country-text {
            display: flex;
            align-items: center;
            margin-bottom: 15px;

            .price-title {
                color: #1F1F1F;
                font-size: 22px;
                font-weight: 600;
                margin-right: 3px;
                display: flex;
                align-items: center;

                img {
                    margin-left: 3px;
                    max-width: 24px;
                }
            }

            .data-country {
                margin-left: 35px;
                font-size: 16px;
                font-weight: 500;
                color: #1F1F1F;
            }
        }

        .item-country-logo {
            display: flex;
            align-items: center;

            img {
                max-width: 52px;
            }

            .title-logo {
                color: #000;
                font-size: 16px;
                font-weight: 500;
                margin-left: 3px;

                h3 {
                    margin: 0;
                }
            }
        }
    }

    .owl-country {
        .owl-stage-outer {
            padding: 10px 0;
        }

        .owl-nav {
            margin: 0;

            .owl-next,
            .owl-prev {
                width: 40px;
                height: 40px;
                flex-shrink: 0;
                background-color: #fff;
                border: 1px solid #E5E5E5;
                box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
                border-radius: 100%;
                margin: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                margin-left: -20px;

                @media (max-width:1024px) {
                    margin-left: -10px;
                }

                span {
                    font-size: 22px;
                    color: #C4C4C4;
                }

                :hover span {
                    color: #C4C4C4;
                }
            }

            .owl-next {
                right: 0;
                left: unset;
                margin-right: -20px;

                @media (max-width:1024px) {
                    margin-right: -10px;
                }
            }
        }
    }
}

.section3 {
    .filter-esim {
        margin-bottom: 30px;
        @media (max-width:767px){
            overflow: hidden;
        }
        .row {
            align-items: center;
        }

        .total-esim {
            @media (min-width:1025px) {
                width: auto;
                min-width: 200px;
            }

            @media (min-width:1130px) {
                padding-right: 130px;
            }
            
            @media (max-width:767px){
                order:3;
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin-top: 20px;
            }
            
            p {
                font-weight: 500;
                margin: 0;
                color: #000;

                strong {
                    color: #01A911;
                }
            }

        }

        .date-esim {
            @media (min-width:1025px) {
                width: auto;
                min-width: 240px;
                
            }

            @media (min-width:1130px) {
                margin-right: 55px;
            }
            @media (max-width:1024px){
                padding: 0 30px;
                margin-bottom: 35px;
            }    
            .slider-labels {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #01A911;
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 15px;
            }

            .noUi-target,
            .noUi-target * {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -ms-touch-action: none;
                touch-action: none;
                -ms-user-select: none;
                -moz-user-select: none;
                user-select: none;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            .noUi-target {
                position: relative;
                direction: ltr;
            }

            .noUi-connects {
                background-color: #D9F7BE;
                height: 5px;

                .noUi-connect {
                    background-color: #01A911;
                }
            }

            .noUi-base {
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 1;
            }

            .noUi-handle:after,
            .noUi-handle:before {
                display: none;
            }

            .noUi-origin {
                position: absolute;
                right: 0;
                top: 0;
                left: 100%;
                bottom: 0;
            }

            .noUi-handle {
                position: absolute;
                z-index: 1;
            }

            .noUi-stacking .noUi-handle {
                z-index: 10;
            }

            .noUi-state-tap .noUi-origin {
                -webkit-transition: left 0.3s, top .3s;
                transition: left 0.3s, top .3s;
            }

            .noUi-state-drag * {
                cursor: inherit !important;
            }

            .noUi-base,
            .noUi-handle {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }

            .noUi-horizontal {
                height: 5px;
            }

            .noUi-horizontal .noUi-handle {
                width: 18px !important;
                height: 18px !important;
                border-radius: 50%;
                left: -7px;
                top: -12px !important;
                background-color: #01A911;
            }

            .noUi-background {
                background: #D6D7D9;
            }

            .noUi-connect {
                background: #01A911;
                -webkit-transition: background 450ms;
                transition: background 450ms;
            }

            .noUi-origin {
                border-radius: 2px;
            }

            .noUi-target {
                border-radius: 2px;
                border: 0px;
                box-shadow: 0px;
            }


            .noUi-draggable {
                cursor: w-resize;
            }

            .noUi-vertical .noUi-draggable {
                cursor: n-resize;
            }

            .noUi-handle {
                cursor: default;
                -webkit-box-sizing: content-box !important;
                -moz-box-sizing: content-box !important;
                box-sizing: content-box !important;
                border: 5px solid #FFF;
            }

            .noUi-handle:active {
                -webkit-background-clip: padding-box;
                background-clip: padding-box;
                left: -14px;
                top: -14px;
            }

            [disabled].noUi-connect,
            [disabled] .noUi-connect {
                background: #B8B8B8;
            }

            [disabled].noUi-origin,
            [disabled] .noUi-handle {
                cursor: not-allowed;
            }

        }

        .list-services-esim {
            width: auto;
            flex: 1;

            @media (max-width:767px){
                display: none;
            }
            ul {
                border-radius: 10px;
                background: #FAFAFA;
                justify-content: space-between;
                border: 0px;
                padding: 4px;

                li {
                    padding: 6px 9px;

                    a {
                        font-size: 14px;
                        font-weight: 500;
                        color: #000;
                    }
                }

                li.active {
                    border-radius: 10px;
                    background: #52C41A;

                    a {
                        color: #fff;
                    }
                }
            }
        }

        .filter-btn-esim {
            width: auto;
            text-align: right;
            position: relative;
            cursor: pointer;
            @media (max-width:767px){
                display: none;
            }
            .filter-search-list {
                display: none;
                position: absolute;
                right: 70px;
                top: 0;
                width: auto;
                min-width: 435px;
                border-radius: 25px;
                background: #FFF;
                box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.10);
                padding: 27px 30px;
                z-index: 9;
                @media (max-width:767px){
                    display: none !important;
                }
                p {
                    text-align: left;
                    color: #313131;
                    font-size: 18px;
                    font-weight: 400;
                }

                .filter-search-size,
                .filter-search-validaity,
                .filter-search-price {
                    margin-bottom: 30px;
                    .slider-labels {
                        color:  #1F1F1F;
                        font-size: 22px;
                        font-weight: 700;
                        margin-bottom: 15px;
                        display: flex;
                        align-items: center;
                        .text-right{
                            position: relative;
                            padding-left: 20px;
                            :after{
                                display: block;
                                content: '-';
                                position: absolute;
                                left:5px;
                                top:0
                            }
                        }
                    }

                    .noUi-target,
                    .noUi-target * {
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -ms-touch-action: none;
                        touch-action: none;
                        -ms-user-select: none;
                        -moz-user-select: none;
                        user-select: none;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                    }

                    .noUi-target {
                        position: relative;
                        direction: ltr;
                    }

                    .noUi-connects {
                        background-color: #D9F7BE;
                        height: 5px;

                        .noUi-connect {
                            background-color: #01A911;
                        }
                    }

                    .noUi-base {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        z-index: 1;
                    }

                    .noUi-handle:after,
                    .noUi-handle:before {
                        display: none;
                    }

                    .noUi-origin {
                        position: absolute;
                        right: 0;
                        top: 0;
                        left: 100%;
                        bottom: 0;
                    }

                    .noUi-handle {
                        position: absolute;
                        z-index: 1;
                    }

                    .noUi-stacking .noUi-handle {
                        z-index: 10;
                    }

                    .noUi-state-tap .noUi-origin {
                        -webkit-transition: left 0.3s, top .3s;
                        transition: left 0.3s, top .3s;
                    }

                    .noUi-state-drag * {
                        cursor: inherit !important;
                    }

                    .noUi-base,
                    .noUi-handle {
                        -webkit-transform: translate3d(0, 0, 0);
                        transform: translate3d(0, 0, 0);
                    }

                    .noUi-horizontal {
                        height: 5px;
                    }

                    .noUi-horizontal .noUi-handle {
                        width: 18px !important;
                        height: 18px !important;
                        border-radius: 50%;
                        left: -7px;
                        top: -12px !important;
                        background-color: #01A911;
                    }

                    .noUi-background {
                        background: #D6D7D9;
                    }

                    .noUi-connect {
                        background: #01A911;
                        -webkit-transition: background 450ms;
                        transition: background 450ms;
                    }

                    .noUi-origin {
                        border-radius: 2px;
                    }

                    .noUi-target {
                        border-radius: 2px;
                        border: 0px;
                        box-shadow: 0px;
                    }


                    .noUi-draggable {
                        cursor: w-resize;
                    }

                    .noUi-vertical .noUi-draggable {
                        cursor: n-resize;
                    }

                    .noUi-handle {
                        cursor: default;
                        -webkit-box-sizing: content-box !important;
                        -moz-box-sizing: content-box !important;
                        box-sizing: content-box !important;
                        border: 5px solid #FFF;
                    }

                    .noUi-handle:active {
                        -webkit-background-clip: padding-box;
                        background-clip: padding-box;
                        left: -14px;
                        top: -14px;
                    }

                    [disabled].noUi-connect,
                    [disabled] .noUi-connect {
                        background: #B8B8B8;
                    }

                    [disabled].noUi-origin,
                    [disabled] .noUi-handle {
                        cursor: not-allowed;
                    }
                }

                .filter-search-option {
                    margin-bottom: 30px;

                    .form-check {
                        text-align: left;
                        margin-bottom: 15px;

                        input {
                            outline: none;
                        }

                        label {
                            color: #313131;
                            font-size: 18px;
                            font-weight: 400;

                        }
                        .form-check-input:checked{
                            background-color: #389E0D;
                            border-color: #389E0D;
                        }
                        .form-check-input:focus{
                            border-color: #389E0D;
                            box-shadow: 0 0 0 0.25rem rgb(56 158 13 / 28%);
                        }

                    }
                }

                .filter-btn-search-content {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 24px;
                    font-weight: 700;

                    .clear {
                        border: 0px;
                        outline: none;
                        color: #389E0D;
                        padding: 0;
                        background-color: transparent;
                    }

                    .submit-btn {
                        color: #fff;
                        border-radius: 10px;
                        background: #389E0D;
                        padding: 10px 30px;
                        border: 0px;
                    }
                }
            }

            &.active {
                .filter-search-list {
                    display: block;
                }
            }

        }

        .search-list-esim-mobie{
            @media (min-width:768px){
                display: none;
            }
            order:2;
        }

    }

    .data-table-esim {
        overflow: hidden;
        padding-bottom: 100px;

        @media (max-width:767px) {
            padding-bottom: 00px;
        }

        .content-data-table {
            border: 1px solid #F0F0F0;
            border-radius: 6px;

            @media (max-width:767px) {
                display: none;
            }

            @media (min-width:768px) and (max-width:1024px) {
                max-width: 789px;
                overflow-y: scroll;
            }

            @media (max-width:767px) {
                border: 0px solid #F0F0F0;
                border-radius: 0px;
            }

            table {
                margin: 0;

                thead {
                    tr {
                        text-align: center;
                        background-color: transparent;
                        --bs-table-accent-bg: transparent;
                        border: 0px;
                        border-bottom: 1px solid #EEEEEE;

                        th {
                            background-color: transparent;
                            border: 0px;
                            white-space: nowrap;
                        }
                    }

                    @media (max-width:767px) {
                        display: none;
                    }
                }

                tbody {
                    tr {
                        background-color: transparent;
                        --bs-table-accent-bg: transparent;
                        border: 0px;
                        font-size: 18px;
                        vertical-align: middle;
                        position: relative;
                        transition: 0.3s;
                        -webkit-transition: 0.3s;

                        @media (max-width:1200px) {
                            font-size: 16px;
                        }

                        &:hover {
                            background-color: #F6FFED;
                        }

                        td {
                            background-color: transparent;
                            border: 0px;
                            align-items: center;
                            padding-top: 30px;
                            padding-bottom: 30px;

                            :hover {
                                background-color: transparent;
                            }

                            .list-data {
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                p {
                                    font-size: 18px;
                                    margin: 0;
                                    max-width: 185px;
                                    overflow: hidden;
                                    -webkit-line-clamp: 1;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                }

                                img {
                                    margin-right: 10px;
                                }

                                .info-table-data {
                                    position: relative;
                                    display: inline-block;
                                    margin: 0 5px;

                                    .name-info-data {
                                        visibility: hidden;
                                        cursor: pointer;
                                        width: auto;
                                        min-width: 60px;
                                        max-width: 400px;
                                        white-space: nowrap;
                                        background-color: #fff;
                                        box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.15);
                                        color: #313131;
                                        border-radius: 6px;
                                        padding: 10px 15px;
                                        position: absolute;
                                        z-index: 1;
                                        top: 160%;
                                        left: 50%;
                                        transform: translateX(-50%);

                                        &:after {
                                            content: "";
                                            position: absolute;
                                            bottom: 100%;
                                            left: 50%;
                                            margin-left: -20px;
                                            border-width: 15px;
                                            border-left-width: 20px;
                                            border-right-width: 20px;
                                            border-style: solid;
                                            border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff rgba(0, 0, 0, 0);
                                        }
                                    }

                                    &:hover .name-info-data {
                                        visibility: visible;
                                    }
                                }

                                .mr-35 {
                                    margin-right: 35px;
                                }

                            }
                        }
                    }

                    .title-brand {
                        font-size: 24px;

                        .list-data {
                            padding-left: 25px;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                        }
                    }

                    .data-link {
                        padding-right: 25px;

                        .list-data {
                            justify-content: end;
                        }
                    }
                }

            }

        }

        .mobie-content-data {
            padding-bottom: 50px;

            @media (min-width:1025px) {
                display: none;
            }

            .main-content {
                display: flex;
                flex-wrap: wrap;
                border: 1px solid #F0F0F0;
                padding: 20px;
                border-radius: 6px;
                position: relative;
                overflow: visible;
                margin-bottom: 16px;

                .logo-main-data {
                    min-width: 50px;
                    margin-right: 15px;
                }

                .content-main-data {
                    flex: 1;
                    font-size: 14px;
                    color: #000;
                    overflow: visible;

                    .title-main-data {
                        overflow: hidden;
                        -webkit-line-clamp: 1;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        font-weight: bold;
                        margin-bottom: 3px;
                        white-space: nowrap;
                    }

                    .middle-main-data {
                        display: flex;
                        align-items: center;
                        font-weight: bold;
                        margin-bottom: 6px;

                        .date-data {
                            margin-left: 20px;
                        }
                    }

                    .price-main-data {
                        display: flex;
                        align-items: center;
                        margin-bottom: 6px;

                        .price-gb {
                            color: #389e0d;
                            font-size: 16px;
                            font-weight: 500;
                        }

                        .price {
                            color: #828282;
                            font-size: 14px;
                            font-weight: 400;
                            margin-left: 5px;
                        }
                    }

                    .info-table-data {
                        display: flex;
                        align-items: center;
                        z-index: 1;

                        .info {
                            position: relative;
                            display: inline-block;
                            overflow: visible;
                            margin-right: 5px;

                            .name-info-data {
                                visibility: hidden;
                                cursor: pointer;
                                width: auto;
                                display: inline-block;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                min-width: 60px;
                                max-width: 300px;
                                background-color: #fff;
                                box-shadow: 0px 2px 25px rgba(0, 0, 0, .15);
                                color: #313131;
                                border-radius: 6px;
                                padding: 10px 15px;
                                position: absolute;
                                z-index: 2;
                                top: 160%;
                                left: 50%;
                                transform: translateX(-50%);

                                &:after {
                                    content: "";
                                    position: absolute;
                                    bottom: 100%;
                                    left: 50%;
                                    margin-left: -20px;
                                    border-width: 15px;
                                    border-left-width: 20px;
                                    border-right-width: 20px;
                                    border-style: solid;
                                    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff rgba(0, 0, 0, 0);
                                }
                            }

                            .name-info-data.visible {
                                visibility: visible;
                            }
                        }
                    }
                }

                .link-table-data {
                    position: relative;

                    a {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        -webkit-transform: translateY(-50%);
                    }
                }
            }

        }

    }
}
  