.section1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 647px;
  margin-bottom: 90px;
}
@media (max-width: 767px) {
  .section1 {
    min-height: 380px;
    margin-bottom: 50px;
  }
}
.section1 .esim-setion1 {
  max-width: 806px;
  margin: 0 auto;
}
.section1 .esim-setion1 h1 {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .section1 .esim-setion1 h1 {
    font-size: 18px;
    line-height: 30px;
  }
}
.section1 .esim-setion1 form {
  padding: 8px 16px;
  border-radius: 12px;
  background: #FFF;
}
.section1 .esim-setion1 form input {
  width: 100%;
  padding: 12px 16px 12px 32px;
  color: #389E0D;
  font-size: 16px;
  font-weight: 500;
  border: 0px;
  outline: none;
}
.section1 .esim-setion1 form input::-webkit-input-placeholder {
  color: #389E0D;
}
.section1 .esim-setion1 form input:-moz-placeholder {
  color: #389E0D;
}
.section1 .esim-setion1 form svg {
  width: auto;
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}

.section2,
.section3,
.section4,
.section5 {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .section2,
  .section3,
  .section4,
  .section5 {
    margin-bottom: 30px;
  }
}
.section2 .esimok-title,
.section3 .esimok-title,
.section4 .esimok-title,
.section5 .esimok-title {
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .section2 .esimok-title,
  .section3 .esimok-title,
  .section4 .esimok-title,
  .section5 .esimok-title {
    margin-bottom: 20px;
  }
}
.section2 .list-Popular,
.section3 .list-Popular,
.section4 .list-Popular,
.section5 .list-Popular {
  grid-template-columns: repeat(5, 1fr);
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
@media (max-width: 1024px) {
  .section2 .list-Popular,
  .section3 .list-Popular,
  .section4 .list-Popular,
  .section5 .list-Popular {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .section2 .list-Popular,
  .section3 .list-Popular,
  .section4 .list-Popular,
  .section5 .list-Popular {
    grid-template-columns: repeat(2, 1fr);
  }
}
.section2 .list-Popular .item-Popular,
.section3 .list-Popular .item-Popular,
.section4 .list-Popular .item-Popular,
.section5 .list-Popular .item-Popular {
  padding: 24px;
}
@media (max-width: 1200px) {
  .section2 .list-Popular .item-Popular,
  .section3 .list-Popular .item-Popular,
  .section4 .list-Popular .item-Popular,
  .section5 .list-Popular .item-Popular {
    padding: 15px;
  }
}
@media (max-width: 1100px) {
  .section2 .list-Popular .item-Popular,
  .section3 .list-Popular .item-Popular,
  .section4 .list-Popular .item-Popular,
  .section5 .list-Popular .item-Popular {
    padding: 10px;
  }
}
@media (max-width: 767px) {
  .section2 .list-Popular .item-Popular,
  .section3 .list-Popular .item-Popular,
  .section4 .list-Popular .item-Popular,
  .section5 .list-Popular .item-Popular {
    padding: 5px;
  }
}
.section2 .list-Popular .item-Popular a,
.section3 .list-Popular .item-Popular a,
.section4 .list-Popular .item-Popular a,
.section5 .list-Popular .item-Popular a {
  display: flex;
  align-items: center;
}
.section2 .list-Popular .item-Popular a img,
.section3 .list-Popular .item-Popular a img,
.section4 .list-Popular .item-Popular a img,
.section5 .list-Popular .item-Popular a img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 13px;
}
.section2 .list-Popular .item-Popular a .item-title,
.section3 .list-Popular .item-Popular a .item-title,
.section4 .list-Popular .item-Popular a .item-title,
.section5 .list-Popular .item-Popular a .item-title {
  margin: 0;
  color: #0C1941;
}
@media (max-width: 1050px) {
  .section2 .list-Popular .item-Popular a .item-title,
  .section3 .list-Popular .item-Popular a .item-title,
  .section4 .list-Popular .item-Popular a .item-title,
  .section5 .list-Popular .item-Popular a .item-title {
    font-size: 16px;
  }
}
.section2 .list-Popular .item-Popular a:hover .item-title,
.section3 .list-Popular .item-Popular a:hover .item-title,
.section4 .list-Popular .item-Popular a:hover .item-title,
.section5 .list-Popular .item-Popular a:hover .item-title {
  color: #389E0D;
}
.section2 .list-Popular .item-Popular.hidden,
.section3 .list-Popular .item-Popular.hidden,
.section4 .list-Popular .item-Popular.hidden,
.section5 .list-Popular .item-Popular.hidden {
  display: none;
}
.section2 .showall,
.section3 .showall,
.section4 .showall,
.section5 .showall {
  margin-top: 40px;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .section2 .showall,
  .section3 .showall,
  .section4 .showall,
  .section5 .showall {
    margin-top: 20px;
  }
}
.section2 .showall:hover,
.section3 .showall:hover,
.section4 .showall:hover,
.section5 .showall:hover {
  color: #389E0D !important;
}

.section6 {
  margin-bottom: 60px;
  padding: 50px 0 60px 0;
  background-color: #FAFAFA;
}
@media (min-width: 768px) {
  .section6 {
    margin-bottom: 30px;
  }
}
.section6 .blog-content {
  position: relative;
}
.section6 .blog-content .top-blog-content {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.section6 .blog-content .top-blog-content .esimok-title {
  flex: 1;
  margin: 0;
}
@media (min-width: 768px) {
  .section6 .blog-content .top-blog-content a {
    display: none;
  }
}
.section6 .blog-content .top-blog-content a {
  color: #4A4A4A;
  text-decoration: underline;
}
@media (max-width: 767px) {
  .section6 .blog-content .top-blog-content {
    margin-bottom: 20px;
  }
}
.section6 .blog-content .description-blog {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.section6 .blog-content .description-blog p {
  margin: 0;
  flex: 1;
}
@media (max-width: 767px) {
  .section6 .blog-content .description-blog p {
    flex: 0 auto;
  }
}
.section6 .blog-content .description-blog a {
  color: #4A4A4A;
  text-decoration: underline;
}
@media (max-width: 767px) {
  .section6 .blog-content .description-blog a {
    display: none;
  }
}
.section6 .list-blog {
  overflow: hidden;
}
.section6 .list-blog .item-blog {
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.1);
}
.section6 .list-blog .item-blog .thumb-post img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 284px;
}
.section6 .list-blog .item-blog .item-post-text {
  padding: 20px 22px;
}
.section6 .list-blog .item-blog .item-post-text .post-category {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.section6 .list-blog .item-blog .item-post-text .post-title h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.section6 .list-blog .item-blog .item-post-text .post-title h3 a {
  color: #000;
}
.section6 .list-blog .item-blog .item-post-text .post-title:hover a {
  color: #389e0d;
}
.section6 .list-blog .item-blog .item-post-text .post-excerpt {
  font-size: 14px;
  font-weight: 400;
}
.section6 .owl-stage-outer {
  padding: 10px 0;
}/*# sourceMappingURL=home.css.map */